input, textarea, select {
    background: #ffffff;
    font-family: Jost;
    font-style: normal;
    color: #6b7c93;
    font-size: 15px;
    line-height: 24px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border: 1px solid rgba(107, 124, 147, 0.15);
    border-radius: 3px;
}