@media only screen and (min-width: 1280px) {
    .blog .content-body .content-body-inner:before,.single .content-body .content-body-inner:before,.archive .content-body .content-body-inner:before,.search .content-body .content-body-inner:before {
        display:block
    }
}

@media only screen and (min-width: 1280px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        display:block
    }
}

@media only screen and (min-width: 1366px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:2.5%;
        right: 2.5%
    }
}

@media only screen and (min-width: 1440px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:3.5%;
        right: 3.5%
    }
}

@media only screen and (min-width: 1680px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:5%;
        right: 5%
    }
}

@media only screen and (min-width: 1280px) {
    .blog .content-body .content-body-inner:before,.single .content-body .content-body-inner:before,.archive .content-body .content-body-inner:before,.search .content-body .content-body-inner:before {
        display:block
    }
}

@media only screen and (min-width: 1280px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        display:block
    }
}

@media only screen and (min-width: 1366px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:2.5%;
        right: 2.5%
    }
}

@media only screen and (min-width: 1440px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:3.5%;
        right: 3.5%
    }
}

@media only screen and (min-width: 1680px) {
    .blog .content-body:after,.single .content-body:after,.archive .content-body:after,.search .content-body:after,.blog .content-body:before,.single .content-body:before,.archive .content-body:before,.search .content-body:before {
        left:5%;
        right: 5%
    }
}